{% extends "base.html" %} {% block content %}
<section class="blueBanner">
  <div class="center-align container">
    <h1>Welcome to the Cocktail Library!</h1>
    <br />
    <a
      class="waves-effect waves-light btn"
      href="{{ url_for('main.add_drink') }}"
    >
      <i class="material-icons right">add_circle</i>Add Cocktail</a
    >
  </div>
</section>
<section class="backgroundCream">
  <div class="container grid-container cardLibrary">
    {% for drink in global_drinks %}
    <div class="card">
      <div class="card-content">
        {% if drink.drink_image %}
        <div class="card-image">
          <img
            class="activator"
            src="{{ url_for('static', filename=drink.drink_image) }}"
            alt="{{ drink.drink_name }}"
          />
        </div>
        {% endif %}
        <span class="card-title activator grey-text text-darken-4">
          {{ drink.drink_name }}
          <i class="material-icons right">more_vert</i>
        </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          {{ drink.drink_name }}
          <i class="material-icons right">close</i>
        </span>
        <p>Glass: {{ drink.drink_glass }}</p>
        <p>Ice: {{ drink.drink_ice }}</p>
        <p>Method: {{ drink.drink_method }}</p>
        <p>Ingredients: {{ drink.drink_ingredients }}</p>
        <p>Garnish: {{ drink.drink_garnish }}</p>
        <a
          href="{{ url_for('main.edit_drink', drink_id=drink.id) }}"
          class="btn-small"
          >Edit</a
        >
        <!-- Delete Button -->
        <a href="#modal-{{ drink.id }}" class="btn-small red modal-trigger"
          >Delete</a
        >

        <!-- Modal Structure -->
        <div id="modal-{{ drink.id }}" class="modal">
          <div class="modal-content">
            <h4>Are you sure you want to delete this drink?</h4>
            <p>This action cannot be undone</p>
          </div>
          <div class="modal-footer">
            <form
              method="POST"
              action="{{ url_for('main.delete_drink', drink_id=drink.id) }}"
            >
              <button type="submit" class="btn red">Delete</button>
            </form>
            <a href="#!" class="modal-close btn green accent-4">Cancel</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% for drink in user_drinks %}
    <div class="card">
      <div class="card-content">
        {% if drink.drink_image %}
        <div class="card-image">
          <img
            class="activator"
            src="{{ url_for('static', filename=drink.drink_image) }}"
            alt="{{ drink.drink_name }}"
          />
        </div>
        {% endif %}
        <span class="card-title activator grey-text text-darken-4">
          {{ drink.drink_name }}
          <i class="material-icons right">more_vert</i>
        </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          {{ drink.drink_name }}
          <i class="material-icons right">close</i>
        </span>
        <p>Glass: {{ drink.drink_glass }}</p>
        <p>Ice: {{ drink.drink_ice }}</p>
        <p>Method: {{ drink.drink_method }}</p>
        <p>Ingredients: {{ drink.drink_ingredients }}</p>
        <p>Garnish: {{ drink.drink_garnish }}</p>
        <a
          href="{{ url_for('main.edit_drink', drink_id=drink.id) }}"
          class="btn-small"
          >Edit</a
        >
        <a href="#modal-{{ drink.id }}" class="btn-small red">Delete</a>
        <!-- Modal -->
        <div id="modal-{{ drink.id }}" class="modal">
          <div class="modal-content">
            <p>Are you sure you want to delete this drink?</p>
            <p>This action cannot be undone</p>
          </div>
          <div class="modal-footer">
            <a
              href="{{ url_for('main.delete_drink', drink_id=drink.id) }}"
              class="btn red"
              >Delete</a
            >
            <a href="modal-close" class="btn green accent-4">Cancel</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section>{% include "footer.html" %}</section>
{% endblock %}
