{% extends "base.html" %} {% block content %}
<section class="blueBanner">
  <div class="center-align container">
    <h1>Login to Your Account</h1>
    <h5>
      Enter your username and password to access your account and manage your
      cocktail ideas.
    </h5>
  </div>
</section>
<section class="backgroundCream">
  <div class="row container" id="loginForm">
    <form action="{{ url_for('main.login') }}" method="post" class="col s12">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="input-field col s12">
          {{ form.username.label }} {{ form.username(class="validate") }} {% if
          form.username.errors %}
          <span class="error">{{ form.username.errors[0] }}</span>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.password.label }} {{ form.password(class="validate") }} {% if
          form.password.errors %}
          <span class="error">{{ form.password.errors[0] }}</span>
          {% endif %}
        </div>
      </div>
      <div class="col s12 center-align">
        {{ form.submit(class="waves-effect waves-light btn") }}
      </div>
    </form>
  </div>
</section>
<section>{% include "footer.html" %}</section>
{% endblock %}
