{% extends "base.html" %} {% block content %}
<section class="blueBanner">
  <div class="center-align container">
    <h1>Sign Up With Us!</h1>
    <h5>
      By signing up with us you will be able to add and edit your own cocktail
      ideas! All we need is a couple of details listed below!
    </h5>
  </div>
</section>
<section class="backgroundCream">
  <div class="row container" id="signupForm">
    <form action="" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" />
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" />
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" />
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="col s12 center-align">
        <input
          type="submit"
          value="Submit"
          class="waves-effect waves-light btn pulse"
          id="submit-btn"
        />
      </div>
    </form>
  </div>
</section>
<section>{% include "footer.html" %}</section>
{% endblock %}
